@page "/"

<PageTitle>Scheduler</PageTitle>

<a href=" /.auth/login/aad">Login</a>
<MudText Class="mb-3" Align="Align.Center" Color="Color.Error" Typo="Typo.h5">Thursday, 10-1-2022 - 6:30 pm.</MudText>
<MudText Class="mb-3" Align="Align.Left">You are in queue for a Level 3 game on the date above. Please accept or decline using the thumbs below.</MudText>

<MudStack Spacing="3" Row="true" Class="pb-2">
    <MudField Variant="Variant.Text">Arthur Fonzarelli - Unconfirmed</MudField>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" DisableElevation="true" Icon="@Icons.Filled.ThumbUp"></MudIconButton>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" DisableElevation="true" Icon="@Icons.Filled.ThumbDown"></MudIconButton>
</MudStack>
<MudStack Spacing="3" Row="true" Class="pb-2">
    <MudField Disabled Variant="Variant.Text">Freddie Kruger - Unconfirmed</MudField>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" Disabled DisableElevation="true" Icon="@Icons.Filled.ThumbUp"></MudIconButton>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" Disabled DisableElevation="true" Icon="@Icons.Filled.ThumbDown"></MudIconButton>
</MudStack>
<MudStack Spacing="3" Row="true" Class="pb-2">
    <MudField Disabled Variant="Variant.Text">H.R. Puffenstuff - Confirmed</MudField>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" Disabled DisableElevation="true" Icon="@Icons.Filled.ThumbUp"></MudIconButton>
    <MudIconButton OnClick="@ToggleValue" Variant="Variant.Text" Disabled DisableElevation="true" Icon="@Icons.Filled.ThumbDown"></MudIconButton>
</MudStack>


@code {
    public bool SwitchValue { get; set; } = true;
    public bool ReadOnly { get; set; } = true;

    void ToggleValue()
    {
        SwitchValue = !SwitchValue;
    }
}