@attribute [Authorize]

@if (_fullEvents is not null && _fullEvents.Count > 0)
{

    <MudContainer MaxWidth="MaxWidth.Small" Class="pt-10">
        <MudExpansionPanels Elevation="1" MultiExpansion="true">
            @foreach (var hd in @_headerDates.OrderBy(a => a.EventDate))
            {
                <MudExpansionPanel HideIcon="true" Class="border-bottom:none">
                    <TitleContent>
                        <div class="d-flex">

                            <MudText Typo="Typo.subtitle1"><strong>@hd.EventDate.DayOfWeek @hd.EventDate.ToShortDateString()</strong></MudText>
                            <MudSpacer />
                            <MudBadge Content="@hd.Count" Color="Color.Secondary" Overlap="true" Class="d-flex ml-auto">
                                <MudIcon Icon="@Icons.Material.Filled.SportsVolleyball" Color="Color.Default" />
                            </MudBadge>

                        </div>
                    </TitleContent>
                    <ChildContent>

                        @if (hd.Count > 0)
                        {
                            @foreach (var i in _fullEvents.Where(a => a.EventDate == hd.EventDate))
                            {
                                @if (i.EventDate == hd.EventDate)
                                {
                                    var et = new DateTime().Add(i.EventTime).ToShortTimeString();

                                    <MudPaper Class="pb-2 pt-2  mb-2">
                                        <MudItem>
                                            <MudChip Variant="Variant.Outlined" Color="Color.Primary">@et </MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">@i.Area</MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">Code @i.Code</MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">@i.Description</MudChip>
                                        </MudItem>
                                        <MudItem>
                                            <MudSpacer />
                                            <MudBadge Content="0" Color="Color.Secondary" Overlap="true">

                                                <MudChip Label="true" Icon="@Icons.Material.Outlined.VerifiedUser" Color="Color.Info">Verified Players</MudChip>

                                            </MudBadge>

                                        </MudItem>

                                        <MudItem Class="pl-2">
                                            @if (hd.Count == 2)
                                            {
                                                <MudItem Class="pt-2">
                                                    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" @onclick="(e => RemoveEvent(i))" />
                                                </MudItem>
                                            }
                                        </MudItem>
                                        @if (hd.Count == 1)
                                        {
                                            <MudItem Class="pt-2 pl-2">
                                                <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" @onclick="(e => RemoveEvent(i))" />
                                                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" @onclick="(e => OpenDrawer(i, null))" />
                                            </MudItem>
                                        }

                                    </MudPaper>

                                }
                            }
                        }
                        else
                        {
                            <MudChip Variant="Variant.Text" Color="Color.Info">
                                No Events Scheduled.
                            </MudChip>
                            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" @onclick="(e => OpenDrawer(null, hd.EventDate))" />
                        }

                    </ChildContent>
                </MudExpansionPanel>

            }
        </MudExpansionPanels>

    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="200px" Width="100%" Square="true" Style="background-color:transparent" Elevation="0"></MudPaper>
    </MudContainer>

}
else
{
    <MudPaper Typo="Typo.body2" Class="d-flex align-center justify-center mud-width-full py-2" Width="100%" Elevation="0">
        <MudText Typo="Typo.h6" Class="d-flex align-center justify-start py-1 pt-4">Loading Events...</MudText>
    </MudPaper>
}

<MudDrawer @bind-Open="@_open" Width="100%" Height="100%" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudItem>
            <MudButton Variant="Variant.Outlined" @onclick="CloseAddScreen">Close</MudButton>
        </MudItem>

    </MudDrawerHeader>

    <Client.Components.EventCreate @ref="dc" />

</MudDrawer>


