@attribute [Authorize]

@if (_fullEvents is not null && _fullEvents.Count > 0)
{

    <MudContainer MaxWidth="MaxWidth.Small" Class="pt-10">
        <MudExpansionPanels Elevation="1" MultiExpansion="true">
            @foreach (var hd in @_headerDates.OrderBy(a => a.EventDate))
            {
                <MudExpansionPanel HideIcon="true" Class="border-bottom:none">
                    <TitleContent>
                        <div class="d-flex">

                            <MudText Typo="Typo.subtitle1"><strong>@hd.EventDate.ToShortDateString()</strong></MudText>
                            <MudSpacer />
                            <MudBadge Content="@hd.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                                <MudIcon Icon="@Icons.Material.Filled.SportsVolleyball" Color="Color.Default" />
                            </MudBadge>

                        </div>
                    </TitleContent>
                    <ChildContent>
                        @foreach (var i in _fullEvents)
                        {
                            @if (hd.Count > 0)
                            {
                                @if (i.EventDate == hd.EventDate)
                                {
                                    var et = new DateTime().Add(i.EventTime).ToShortTimeString();

                                    <MudPaper Class="pb-2 pt-2  mb-2">
                                        <MudItem>
                                            <MudChip Variant="Variant.Outlined" Color="Color.Primary">@et </MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">@i.Area</MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">Code @i.Code</MudChip>
                                            <MudChip Variant="Variant.Text" Color="Color.Info">@i.Description</MudChip>
                                        </MudItem>
                                        <MudItem>
                                            <MudSpacer />
                                            <MudBadge Content="0" Color="Color.Primary" Overlap="true">

                                                <MudChip Icon="@Icons.Material.Filled.VerifiedUser" Color="Color.Info">Verified Players</MudChip>

                                            </MudBadge>

                                        </MudItem>

                                        <MudItem>
                                            @if (hd.Count == 2)
                                            {
                                                <MudItem Class="pt-2">
                                                    <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" Label="Delete Game" />
                                                </MudItem>
                                            }
                                        </MudItem>
                                        @if (hd.Count == 1)
                                        {
                                            <MudItem Class="pt-2">
                                                <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" Label="Delete Game" />
                                                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Label="Add Game" />
                                            </MudItem>
                                        }

                                    </MudPaper>

                                }
                            }
                            else
                            {
                                <MudChip Variant="Variant.Text" Color="Color.Info">
                                    No Events Scheduled.
                                </MudChip>
                                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Label="Add Game" />
                                break;
                            }
                        }



                    </ChildContent>
                </MudExpansionPanel>

            }
        </MudExpansionPanels>
        @*        <MudGrid Spacing="1" Justify="Justify.SpaceBetween">
    @foreach (var ev in @_headerDates)
    {
    <MudItem xs="9">
    <MudText Class="d-flex align-center justify-start py-1 pt-4">@ev.EventDate.ToShortDateString() - @ev.Code - @ev.Area - @ev.Description</MudText>

    </MudItem>
    <MudItem xs="3">

    <MudFab StartIcon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled" Class="d-flex align-center justify-center py-1" Color="Color.Secondary" Size="Size.Medium" @onclick="(e => RemoveEvent(ev))"></MudFab>

    </MudItem>
    }
    </MudGrid>*@
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="200px" Width="100%" Square="true" Style="background-color:transparent" Elevation="0"></MudPaper>
    </MudContainer>

}
else
{
    <MudPaper Typo="Typo.body2" Class="d-flex align-center justify-center mud-width-full py-2" Width="100%" Elevation="0">
        <MudText Typo="Typo.h6" Class="d-flex align-center justify-start py-1 pt-4">Loading Events...</MudText>
    </MudPaper>
}
